<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 목록</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="search : ${searchList}">
      <th scope="row">
        <span th:text="${search.id}"></span>
      </th>
      <td>
        <a th:href="@{'/post/' + ${search.id}}">
          <span th:text="${search.title}"></span>
        </a>
      </td>
      <td>
        <span th:text="${search.member.username}"></span>
      </td>
      <td>
        <span th:text="${#temporals.format(search.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
      </td>
      <td>
        <span th:text="${search.hits}"></span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/" role="button">돌아가기</a>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
    </div>
  </div>


  <div>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" th:if="${hasPrev}==true " th:href="@{/post/search/(keyword=${keyword},page=${page-1})}">Previous</a></li>
      <!--<li class="page-item"><a class="page-link" href="#">1</a></li>   th:href="@{/(keyword=${keyword}),(page=${page-1})}"
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>-->
      <li class="page-item"><a class="page-link" th:if="${hasNext}==true " th:href="@{/post/search/(keyword=${keyword},page=${page+1})}">Next</a></li>
    </ul>
  </div>


</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>